/Test.RabbitMq/Cap.Sender/.vs
/Test.RabbitMq/Cap.Sender/Cap.Sender/obj
/Test.RabbitMq/Cap.Sender/Cap.Sender/bin
/Test.RabbitMq/Cap.Receiver/.vs
/Test.RabbitMq/Cap.Receiver/Cap.Receiver/obj
/Test.RabbitMq/Cap.Receiver/Cap.Receiver/bin
